<div class="container">
  <form #searchForm="ngForm" (ngSubmit)="onSearch()">
    <div>
      <div class="search-block">
        <div class="main-heading">Search by EAN</div>

        <mat-form-field class="search-field" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            placeholder="Enter EAN Number"
            name="userId"
            [(ngModel)]="userId"
          />
        </mat-form-field>

        <div>
          <button
            mat-raised-button
            class="search-button"
            color="primary"
            type="submit"
          >
            Search
          </button>
        </div>

        <div class="render-user-data">
          <div
            *ngIf="
              (searchPerformed && filteredUsers.length === 0) ||
              !searchPerformed
            "
            class="not-matched"
          >
            No matches found
          </div>

          <div *ngIf="filteredUsers.length > 0" class="matched">
            <div *ngFor="let user of filteredUsers; let i = index">
              <p><strong>EAN: </strong> {{ user.EAN }}</p>
              <p><strong>Shelf Life (days): </strong> {{ user.Shelflife }}</p>
              <p><strong>SKU: </strong> {{ user.sku }}</p>
              <p><strong>SKU Code: </strong> {{ user.skucode }}</p>
              <p><strong>Physical Expiry Date: </strong></p>

              <mat-form-field appearance="outline">
                <mat-icon matPrefix>event</mat-icon>
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Select Physical Expiry Date"
                  [(ngModel)]="expiryDates[i]"
                  [name]="'expiryDate' + i"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <div>
                <button
                  mat-raised-button
                  class="check-button"
                  color="primary"
                  (click)="checkSuggestion(i, user)"
                  type="button"
                >
                  Check Suggestion
                </button>
              </div>

              <div
                *ngIf="removalDates[i]"
                style="margin-top: 30px; font-weight: bold"
                [ngStyle]="{
                  color: removalDates[i].includes('❌') ? 'red' : 'green'
                }"
              >
                {{ removalDates[i] }}
              </div>

              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
