<div class="container">
  <form #searchForm="ngForm" (ngSubmit)="onSearch()">
    <mat-form-field class="search-field">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        placeholder="Search Details here..."
        name="userId"
        [(ngModel)]="userId"
        (ngModelChange)="onSearch()"
      />
    </mat-form-field>
  </form>

  <p *ngIf="!userId?.trim()" class="result-data">Search to get details</p>

  <div class="render-user-data" *ngIf="userId?.trim()">
    <div class="add-container">
      <h3 class="heading">Product List</h3>
      <button class="add-employee-button" (click)="onAddEmployee()">
        Add More
      </button>

      <button class="add-employee-button" (click)="onReset()">
        Reset to Default List
      </button>
    </div>
    <table *ngIf="filteredUsers.length > 0">
      <thead>
        <tr>
          <th>EAN</th>
          <th>Shelf life</th>
          <th>sku</th>
          <th>sku code</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers; let i = index">
          <td>{{ user.EAN }}</td>
          <td>{{ user.Shelflife }}</td>
          <td>{{ user.sku }}</td>
          <td>{{ user.skucode }}</td>
          <td>
            <button
              mat-icon-button
                class="small-icon-button"
              (click)="onEditEmployee(user, i)"
              style="
                font-size: 8px;
                color: rgb(162, 160, 160);
                margin-right: 5px;
              "
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-icon-button
                class="small-icon-button"
              (click)="deleteUser(i)"
              style="font-size: 8px; color: rgb(162, 160, 160)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="filteredUsers.length === 0" class="result-data">No Result found.</p>
  </div>
</div>
